#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { 
  font-family: Arial, Helvetica, serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FFF;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.5em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2{
	padding-bottom: 40px;
}
.row h4 {
	text-align: center;
	font-weight: bold;
}
#chicken, #beef, #sushi {
	background-color: #9D9D9D;
	color: #000;
	margin-bottom: 50px;
}

@media (min-width: 1200 px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
	.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
	float:left;
}
.col-lg-1{	
	width: 8.33%;
}
.col-lg-2{	
	width: 16.66%;
}
.col-lg-3{	
	width: 25%;
}
.col-lg-4{	
	width: 33%;
}
.col-lg-5{	
	width: 41.66%;
}
.col-lg-6{	
	width: 50%;
}
.col-lg-7{	
	width: 58.33%;
}
.col-lg-8{	
	width: 66.66%;
}
.col-lg-9{	
	width: 74.99%;
}
.col-lg-10{	
	width: 83.33%;
}
.col-lg-11{	
	width: 91.66%;
}
.col-lg-12{	
	width: 100%;
}

}

@media (min-width: 950 px) and (max-width: 1199px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
	.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
	float:left;
}
.col-md-1{	
	width: 8.33%;
}
.col-md-2{	
	width: 16.66%;
}
.col-md-3{	
	width: 25%;
}
.col-md-4{	
	width: 33%;
}
.col-md-5{	
	width: 41.66%;
}
.col-md-6{	
	width: 50%;
}
.col-md-7{	
	width: 58.33%;
}
.col-md-8{	
	width: 66.66%;
}
.col-md-9{	
	width: 74.99%;
}
.col-md-10{	
	width: 83.33%;
}
.col-md-11{	
	width: 91.66%;
}
.col-md-12{	
	width: 100%;
}

}



@media (min-width: 949 px){
	.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,
	.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
	float:left;
}
.col-xs-1{	
	width: 8.33%;
}
.col-xs-2{	
	width: 16.66%;
}
.col-xs-3{	
	width: 25%;
}
.col-xs-4{	
	width: 33%;
}
.col-xs-5{	
	width: 41.66%;
}
.col-xs-6{	
	width: 50%;
}
.col-xs-7{	
	width: 58.33%;
}
.col-xs-8{	
	width: 66.66%;
}
.col-xs-9{	
	width: 74.99%;
}
.col-xs-10{	
	width: 83.33%;
}
.col-xs-11{	
	width: 91.66%;
}
.col-xs-12{	
	width: 100%;
}
}
